<div class="wrapper">
  <div class="page-content-wrapper">
    <div class="page-content">
      <div class="row">
        <div class="col-12 col-lg-12 mx-auto">
          <div class="card radius-10">
            <div class="card-body text-center">
              <h1 class="display-4 mt-5">Audio Recorder</h1>
              <p>Click on the “Start Recording” button to record a quick audio. <i style="cursor: pointer" (click)="openDialog()" class="fa fa-info-circle" aria-hidden="true"></i></p>
              <div><a [class.button-animate]="stopVisible"
                      style="padding-right: 2rem!important; padding-left: 2rem!important; font-size:1rem;"
                      id="recordButton" (click)="startRecording()" class="btn btn-lg btn-primary px-md-5 radius-30">
                <i *ngIf="stopVisible" class="fa fa-circle text-danger Blink"></i> {{recordButtonText}}
              </a>
                <a *ngIf="stopVisible"
                   style="padding-right: 2rem!important; padding-left: 2rem!important; font-size:1rem;" id="stopButton"
                   (click)="stopRecording()" class="btn btn-lg btn-outline-dark ms-3 px-md-5 radius-30">Stop</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="!fileName" class="card radius-10">
        <div style="margin: 1.5rem!important;" class="row g-0">
          <div class="col-xl-7">
            <audio controls id="audio-playback" controlsList="nodownload" preload="metadata">
              Your browser does not support the audio element.
            </audio>
            <canvas id="my-canvas" width="300" height="20">
            </canvas>
            <label class="form-label">Copy URL and Share it with your clients or colleagues</label>
            <div class="input-group input-group-lg">
              <input [(ngModel)]="link" style="font-size: 1rem !important;" type="text" class="form-control"
                     placeholder="Your Audio URL will be visible here" disabled>
              <button (click)="copyToClipboard()" class="btn btn-primary" type="button"><i
                class="fadeIn animated bx bx-copy">
              </i>
              </button>
            </div>
            <div style="margin-top:20px !important;margin-bottom:40px;" class="error-social mt-3 d-flex gap-2">
              <a target="_blank" [href]="'https://www.facebook.com/sharer/sharer.php?u=' + link" class="bg-facebook"><i
                class="bx bxl-facebook"></i></a>
              <a target="_blank" [href]="'https://twitter.com/intent/tweet?url=' + link" class="bg-twitter"><i
                class="bx bxl-twitter"></i></a>
              <a target="_blank" [href]="'https://www.linkedin.com/sharing/share-offsite/&url=' + link"
                 class="bg-linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
          <div class="col-xl-5">
            <form [formGroup]="audioDesciptionForm" (ngSubmit)="onSubmit()">
              <div style="padding-left: 40px;">
                <div style="padding-right: 40px; padding-bottom: 40px;">
                  <h5>Setup the audio URL</h5>
                  <div class="mb-3">
                    <label class="form-label">Audio title</label>
                    <input formControlName="title" type="text" class="form-control">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Message for listener</label>
                    <textarea formControlName="description" class="form-control" rows="1"></textarea>
                  </div>
                  <a style="padding-right: 2rem!important; padding-left: 2rem!important; font-size:1rem;"
                     class="btn btn-lg btn-primary px-md-5 radius-30">Update</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
