<mat-toolbar class="head-search-bar">
  <button mat-icon-button class="head-search-icon-button" aria-label="Example icon-button with menu icon" mat-button
          (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h5>&nbsp;&nbsp; {{data_service?.current_tool}}</h5>
  <span style="flex: 1 1 auto;"></span>
  <form class="head-search-form">
    <div class="head-search-icon">
      <mat-icon>search</mat-icon>
    </div>
    <input class="head-search-box-input" type="text" placeholder="Search for anything">
  </form>
  <img mat-button [matMenuTriggerFor]="menu" src="assets/images/06.png" class="head-user-img">
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="headmenudd">
      <mat-icon style="margin-right: 2px; font-size: 14px; height: 14px;">person</mat-icon>
      Profile
    </button>
    <button mat-menu-item class="headmenudd">
      <mat-icon style="margin-right: 2px; font-size: 14px; height: 14px;">settings</mat-icon>
      setting
    </button>
    <hr>
    <button mat-menu-item class="headmenudd">
      <mat-icon style="margin-right: 2px; font-size: 14px; height: 14px;">settings</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="dashboard-sidebar-container">
  <mat-drawer #drawer class="dashboard-sidenav" mode="side" opened>
    <button routerLink="/analysis" routerLinkActive="active" mat-menu-item class="menusb left-menu-button">
      <mat-icon style="margin-right: 16px; font-size: 26px; height: 31px;">analytics</mat-icon>
      Analysis
    </button>
    <button routerLink="/dashboard" routerLinkActive="active" mat-menu-item class="menusb left-menu-button">
      <mat-icon style="margin-right: 16px; font-size: 26px; height: 31px;">construction</mat-icon>
      Tools
      <span routerLink="/voice-recorder" [hidden]="true"></span>
      <span routerLink="/qr-code" [hidden]="true"></span>
    </button>
  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>
